@import "../mixins";
.portfolio {
  .row {
    flex-direction: column;
    .title {
      text-align: center;
      @include sectionTitle;
    }

    .content {
      .portfolioSlider {
        .singleSlider {
          position: relative;
          cursor: pointer;
          transition: 0.3s ease;
          img {
            width: 100%;
            height: 100%;
          }
          .cover {
            width: 100%;
            height: 98%;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .text {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 15px;
              position: absolute;
              transition: 0.3s ease;
              opacity: 0;
              h3 {
                color: $white;
              }
              a {
                border: 1px solid $white;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s ease;
                cursor: pointer;
                i {
                  color: $white;
                }

                &:hover {
                  background-color: $white;
                  i {
                    color: #b070d380;
                  }
                }
              }
            }

            .overlay {
              background-color: #b070d380;
              width: 100%;
              height: 0;
              transition: 0.9s ease;
            }
            .overlayTwo {
              background-color: #b070d380;
              width: 100%;
              height: 0;
              transition: 0.9s ease;
            }
          }

          &:hover {
            .text {
              opacity: 1;
            }
            .overlay {
              height: 50%;
            }

            .overlayTwo {
              height: 50%;
            }
          }
        }

        .swiper-pagination {
          --swiper-pagination-bullet-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .portfolio {
    .row {
      .title {
        .textBg {
          font-size: 120px;
        }
        .textMain {
          font-size: 40px;
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .portfolio {
    .row {
      .title {
        .textBg {
          font-size: 90px;
        }
        .textMain {
          font-size: 35px;
        }
      }
      .content {
        .portfolioSlider {
          .swiper-pagination {
            --swiper-pagination-bullet-size: 8px;
          }
        }
      }
    }
  }
}

@media (max-width: 535px) {
  .portfolio {
    .row {
      .title {
        .textBg {
          font-size: 60px;
        }
        .textMain {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .portfolio {
    .row {
      .title {
        .textBg {
          font-size: 45px;
        }
        .textMain {
          font-size: 16px;
        }
      }
    }
  }
}
