@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: DancingScript;
  src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins-Regular";
  scroll-behavior: smooth;
}

.container {
  width: 86%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  transition: 0.3s ease;
}
.header .row {
  position: relative;
  z-index: 343;
  width: 100%;
  height: 110px;
  align-items: center;
  justify-content: space-between;
}
.header .row .logo {
  cursor: pointer;
}
.header .row .logo a {
  font-family: "DancingScript";
  font-weight: 800;
  font-size: 40px;
  color: #fff;
  transition: 0.3s ease;
  display: block;
}
.header .row .logo a:hover {
  color: #6846a1;
}
.header .row .navBar .menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .row .navBar #menu-toggle {
  display: none;
}
.header .row .navBar .menu-button {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 30px;
  transition: 0.5s ease-in-out;
  border-radius: 2px;
}
.header .row .navBar .menu-button::before {
  content: "";
  margin-top: -8px;
  display: block;
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 30px;
  transition: 0.5s ease-in-out;
  border-radius: 2px;
}
.header .row .navBar .menu-button::after {
  content: "";
  margin-top: 8px;
  display: block;
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 30px;
  transition: 0.5s ease-in-out;
  border-radius: 2px;
}
.header .row .navBar #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(135deg);
}
.header .row .navBar #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
.header .row .navBar #menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-135deg);
}
.header .row .navBar .navList {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header .row .navBar .navList .navItem {
  cursor: pointer;
}
.header .row .navBar .navList .navItem a {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s ease;
  cursor: pointer;
}
.header .row .navBar .navList .navItem .contactBtn {
  width: 130px;
  height: 45px;
  background-color: #6846a1;
  color: #fff;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 15px;
  letter-spacing: 0;
  cursor: pointer;
  transition: 0.3s ease;
}
.header .row .navBar .navList .navItem .contactBtn:hover {
  background-color: #b070d3;
}
.header .row .navBar .navList .navItem:not(:last-child):hover a {
  color: #6846a1;
}

.headerBar {
  position: fixed;
  z-index: 9;
  background-color: #fff;
  width: 100%;
  height: 90px;
  transition: 0.3s ease;
  border-bottom: 1px solid rgba(222, 226, 230, 0.34);
  display: flex;
  align-items: center;
}
.headerBar .logo a {
  color: #6846a1 !important;
}
.headerBar .navBar .menu-button::before, .headerBar .navBar .menu-button::after {
  background-color: #6846a1 !important;
}
.headerBar .navBar .navList .navItem:not(:last-child) a {
  color: #444 !important;
}
.headerBar .navBar .navList .navItem:not(:last-child):hover a {
  color: #6846a1 !important;
}

@media (max-width: 1124px) {
  .header .row .logo a {
    font-size: 35px;
  }
  .header .row .navBar .navList {
    gap: 20px;
  }
  .header .row .navBar .navList .navItem a {
    font-size: 13px;
  }
}
@media (max-width: 930px) {
  .header .row .logo a {
    font-size: 30px;
  }
  .header .row .navBar {
    z-index: 99;
  }
  .header .row .navBar .menu-button-container {
    display: flex;
  }
  .header .row .navBar #menu-toggle ~ .navList .navItem {
    height: 0;
    margin: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header .row .navBar #menu-toggle:checked ~ .navList .navItem {
    height: 40px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header .row .navBar #menu-toggle:checked ~ .navList .navItem:last-child {
    padding-bottom: 20px;
    padding-top: 10px;
    height: 48px;
  }
  .header .row .navBar .navList {
    gap: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }
  .header .row .navBar .navList .navItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 0 30px;
  }
  .header .row .navBar .navList .navItem:not(:last-child) a {
    font-size: 14px;
    color: #444;
  }
  .header .row .navBar .navList .navItem .contactBtn {
    width: 120px;
    height: 35px;
  }
}
.footer {
  width: 100%;
  margin-top: 50px;
}
.footer .social {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  align-items: center;
  height: 130px;
}
.footer .social .socialList {
  display: flex;
  gap: 20px;
}
.footer .social .socialList .socialItem {
  background-color: #6846a1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}
.footer .social .socialList .socialItem:hover {
  background-color: #b070d3;
}
.footer .social .socialList .socialItem a {
  color: #fff;
  font-size: 18px;
}
.footer .footerBottom {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.footer .footerBottom p {
  text-transform: capitalize;
}
.footer .footerBottom p span {
  color: #6846a1;
  cursor: pointer;
  font-weight: 600;
}

@media (max-width: 320px) {
  .footer .social .socialList {
    gap: 10px;
  }
}
.heroContact {
  height: 230px;
  width: 100%;
}
.heroContact .heroImg {
  position: relative;
  width: 100%;
  z-index: -1;
  height: 660px;
}
.heroContact .heroImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.heroContact .heroImg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #fff 0, rgba(99, 36, 125, 0.35) 99%, rgba(92, 44, 107, 0.5) 100%);
}

.contact .row {
  flex-direction: column;
  align-items: center;
}
.contact .row .title {
  margin-bottom: 40px;
  text-transform: uppercase;
  position: relative;
  z-index: -1;
}
.contact .row .title .textBg {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 160px;
  color: rgba(176, 112, 211, 0);
  font-weight: 900;
  -webkit-text-stroke: 1px #b070d3;
}
.contact .row .title .textMain {
  font-family: Arial, Helvetica, sans-serif;
  color: #6846a1;
  font-size: 50px;
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.contact .row .content {
  margin: 50px 0;
  width: 70%;
}
.contact .row .content .formContact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact .row .content .formContact .inputGroup {
  display: flex;
  justify-content: space-between;
}
.contact .row .content .formContact .inputGroup input {
  width: 48%;
  height: 45px;
  border-radius: 20px;
  outline: none;
  border: 1px solid #dee2e6;
  padding: 0 20px;
  transition: 0.3s ease;
}
.contact .row .content .formContact .inputGroup input:focus {
  box-shadow: 0px 0px 6px 0px #b070d3;
}
.contact .row .content .formContact .inputGroup input::-webkit-outer-spin-button,
.contact .row .content .formContact .inputGroup input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.contact .row .content .formContact .inputGroup select {
  width: 48%;
  border: 1px solid #dee2e6;
  padding: 10px 13px;
  border-radius: 20px;
  color: #444;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.contact .row .content .formContact .inputGroup select:focus {
  box-shadow: 0px 0px 6px 0px #b070d3;
}
.contact .row .content .formContact .inputGroup textarea {
  width: 48%;
  border-radius: 20px;
  height: 60px;
  padding: 10px 13px;
  resize: none;
  outline: none;
  border: 1px solid #dee2e6;
  transition: 0.3s ease;
}
.contact .row .content .formContact .inputGroup textarea:focus {
  box-shadow: 0px 0px 6px 0px #b070d3;
}
.contact .row .content .formContact .primaryBtn {
  width: 130px;
  height: 45px;
  background-color: #6846a1;
  color: #fff;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 15px;
  letter-spacing: 0;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  align-self: flex-end;
}
.contact .row .content .formContact .primaryBtn:hover {
  background-color: #b070d3;
}

@media (max-width: 950px) {
  .contact .row .title .textBg {
    font-size: 120px;
  }
  .contact .row .title .textMain {
    font-size: 40px;
  }
  .contact .row .content {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .contact .row .title .textBg {
    font-size: 90px;
  }
  .contact .row .title .textMain {
    font-size: 35px;
  }
}
@media (max-width: 490px) {
  .contact .row .title .textBg {
    font-size: 60px;
  }
  .contact .row .title .textMain {
    font-size: 25px;
  }
  .contact .row .content .formContact {
    gap: 10px;
  }
  .contact .row .content .formContact .inputGroup {
    flex-direction: column;
    gap: 10px;
  }
  .contact .row .content .formContact .inputGroup input,
  .contact .row .content .formContact .inputGroup select,
  .contact .row .content .formContact .inputGroup textarea {
    width: 100%;
  }
}
@media (max-width: 490px) {
  .contact .row .title .textBg {
    font-size: 40px;
  }
  .contact .row .title .textMain {
    font-size: 16px;
  }
}
.hero {
  height: 100%;
  width: 100%;
}
.hero .heroImg {
  position: relative;
  width: 100%;
  z-index: -1;
  height: 660px;
}
.hero .heroImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .heroImg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #fff 0, rgba(99, 36, 125, 0.35) 99%, rgba(92, 44, 107, 0.5) 100%);
}
.hero .heroContent {
  position: absolute;
  top: 200px;
  left: 0;
  z-index: -1;
  color: #444;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero .heroContent .heroDetails h3 {
  font-size: 25px;
  letter-spacing: 2px;
}
.hero .heroContent .heroDetails h1 {
  font-size: 60px;
  letter-spacing: 1px;
}
.hero .heroContent .heroDetails span {
  font-size: 30px;
  letter-spacing: 2px;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
}

@media (max-width: 640px) {
  .hero .heroContent .heroDetails h3 {
    font-size: 15px !important;
  }
  .hero .heroContent .heroDetails h1 {
    font-size: 38px !important;
  }
  .hero .heroContent .heroDetails span {
    font-size: 20px !important;
  }
}
@media (max-width: 380px) {
  .hero .heroContent .heroDetails h3 {
    font-size: 14px !important;
  }
  .hero .heroContent .heroDetails h1 {
    font-size: 26px !important;
  }
  .hero .heroContent .heroDetails span {
    font-size: 18px !important;
  }
}
.about .row {
  flex-direction: column;
  align-items: center;
}
.about .row .title {
  text-transform: uppercase;
  position: relative;
  margin: 40px 0;
}
.about .row .title .textBg {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 160px;
  color: #fff;
  font-weight: 900;
  -webkit-text-stroke: 1px #dee2e6;
}
.about .row .title .textMain {
  font-family: Arial, Helvetica, sans-serif;
  color: #6846a1;
  font-size: 50px;
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.about .row .content {
  display: flex;
  gap: 30px;
}
.about .row .content .aboutImg img {
  max-width: 100%;
}
.about .row .content .aboutDetails {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  justify-content: center;
  color: #444;
}
.about .row .content .aboutDetails h2 {
  margin-bottom: 30px;
}
.about .row .content .aboutDetails p {
  margin-bottom: 30px;
}
.about .row .content .aboutDetails .dowloadBtn {
  width: 130px;
  height: 45px;
  background-color: #6846a1;
  color: #fff;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 15px;
  letter-spacing: 0;
  cursor: pointer;
  transition: 0.3s ease;
}
.about .row .content .aboutDetails .dowloadBtn:hover {
  background-color: #b070d3;
}

@media (max-width: 1043px) {
  .about .row .content .aboutDetails {
    padding: 0;
  }
  .about .row .content .aboutDetails h2 {
    margin-bottom: 10px;
  }
  .about .row .content .aboutDetails p {
    margin-bottom: 12px;
  }
}
@media (max-width: 850px) {
  .about .row .title .textBg {
    font-size: 120px;
  }
  .about .row .title .textMain {
    font-size: 40px;
  }
  .about .row .content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .about .row .content .aboutImg {
    width: 80%;
  }
  .about .row .content .aboutImg img {
    max-width: 100%;
  }
  .about .row .content .aboutDetails {
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 720px) {
  .about .row .title .textBg {
    font-size: 90px;
  }
  .about .row .title .textMain {
    font-size: 35px;
  }
}
@media (max-width: 535px) {
  .about .row .title .textBg {
    font-size: 60px;
  }
  .about .row .title .textMain {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .about .row .title .textBg {
    font-size: 45px;
  }
  .about .row .title .textMain {
    font-size: 16px;
  }
}
.portfolio .row {
  flex-direction: column;
}
.portfolio .row .title {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 40px 0;
}
.portfolio .row .title .textBg {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 160px;
  color: #fff;
  font-weight: 900;
  -webkit-text-stroke: 1px #dee2e6;
}
.portfolio .row .title .textMain {
  font-family: Arial, Helvetica, sans-serif;
  color: #6846a1;
  font-size: 50px;
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.portfolio .row .content .portfolioSlider .singleSlider {
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
}
.portfolio .row .content .portfolioSlider .singleSlider img {
  width: 100%;
  height: 100%;
}
.portfolio .row .content .portfolioSlider .singleSlider .cover {
  width: 100%;
  height: 98%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.portfolio .row .content .portfolioSlider .singleSlider .cover .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: absolute;
  transition: 0.3s ease;
  opacity: 0;
}
.portfolio .row .content .portfolioSlider .singleSlider .cover .text h3 {
  color: #fff;
}
.portfolio .row .content .portfolioSlider .singleSlider .cover .text a {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  cursor: pointer;
}
.portfolio .row .content .portfolioSlider .singleSlider .cover .text a i {
  color: #fff;
}
.portfolio .row .content .portfolioSlider .singleSlider .cover .text a:hover {
  background-color: #fff;
}
.portfolio .row .content .portfolioSlider .singleSlider .cover .text a:hover i {
  color: rgba(176, 112, 211, 0.5019607843);
}
.portfolio .row .content .portfolioSlider .singleSlider .cover .overlay {
  background-color: rgba(176, 112, 211, 0.5019607843);
  width: 100%;
  height: 0;
  transition: 0.9s ease;
}
.portfolio .row .content .portfolioSlider .singleSlider .cover .overlayTwo {
  background-color: rgba(176, 112, 211, 0.5019607843);
  width: 100%;
  height: 0;
  transition: 0.9s ease;
}
.portfolio .row .content .portfolioSlider .singleSlider:hover .text {
  opacity: 1;
}
.portfolio .row .content .portfolioSlider .singleSlider:hover .overlay {
  height: 50%;
}
.portfolio .row .content .portfolioSlider .singleSlider:hover .overlayTwo {
  height: 50%;
}
.portfolio .row .content .portfolioSlider .swiper-pagination {
  --swiper-pagination-bullet-size: 12px;
}/*# sourceMappingURL=index.css.map */