.footer {
  background-color: green;
  width: 100%;
  // position: absolute;
  // bottom: 0;
  // left: 0;

  .social {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    padding: 30px 0;
    .socialList {
      display: flex;
      gap: 20px;
      .socialItem {
        background-color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
          background-color: $btn-hover-color;
        }
        a {
          color: $white;
          font-size: 18px;
        }
      }
    }
  }

  .footerBottom {
    text-align: center;
    padding: 20px 0;
    p {
      text-transform: capitalize;
      span {
        color: $primary-color;
        cursor: pointer;
        font-weight: 600;
      }
    }
  }
}
