.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 100px;
  transition: 0.3s ease;

  .row {
    width: 100%;
    height: 110px;
    align-items: center;
    justify-content: space-between;
    .logo {
      cursor: pointer;
      a {
        font-family: "DancingScript";
        font-weight: 800;
        font-size: 40px;
        color: $white;
        transition: 0.3s ease;
        display: block;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .navBar {
      .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      #menu-toggle {
        display: none;
      }

      .menu-button {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 2px;
        width: 30px;
        transition: 0.5s ease-in-out;
        border-radius: 2px;

        &::before {
          content: "";
          margin-top: -8px;
          display: block;
          background-color: #fff;
          position: absolute;
          height: 2px;
          width: 30px;
          transition: 0.5s ease-in-out;
          border-radius: 2px;
        }

        &::after {
          content: "";
          margin-top: 8px;
          display: block;
          background-color: #fff;
          position: absolute;
          height: 2px;
          width: 30px;
          transition: 0.5s ease-in-out;
          border-radius: 2px;
        }
      }

      #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(135deg);
      }

      #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
      }

      #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-135deg);
      }

      .navList {
        display: flex;
        gap: 30px;
        align-items: center;
        .navItem {
          cursor: pointer;

          a {
            color: $white;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: 0.3s ease;
            cursor: pointer;
          }

          .contactBtn {
            width: 130px;
            height: 45px;
            background-color: $primary-color;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            font-size: 15px;
            letter-spacing: 0;

            &:hover {
              background-color: $btn-hover-color;
            }
          }
          &:not(:last-child):hover {
            a {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}

.headerBar {
  background-color: $white;
  width: 100%;
  height: 90px;
  transition: 0.3s ease;
  border-bottom: 1px solid rgba(222, 226, 230, 0.34);

  display: flex;
  align-items: center;

  .logo {
    a {
      color: $primary-color !important;
    }
  }
  .navBar {
    .navList {
      .navItem {
        &:not(:last-child) {
          a {
            color: #444 !important;
          }
        }
      }
    }
  }
}

@media (max-width: 1124px) {
  .header {
    .row {
      .logo {
        a {
          font-size: 35px;
        }
      }

      .navBar {
        .navList {
          gap: 20px;
          .navItem {
            a {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 930px) {
  .header {
    .row {
      .logo {
        a {
          font-size: 30px;
        }
      }

      .navBar {
        .menu-button-container {
          display: flex;
        }

        #menu-toggle ~ .navList .navItem {
          height: 0;
          margin: 0;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        #menu-toggle:checked ~ .navList .navItem {
          height: 40px;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
          &:last-child {
            padding-bottom: 20px;
            padding-top: 10px;
            height: 48px;
          }
        }

        .navList {
          gap: 0;
          position: absolute;
          top: 0;
          left: 0;
          margin-top: 110px;
          flex-direction: column;
          width: 100%;
          overflow: hidden;

          .navItem {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            width: 100%;
            background-color: $white;
            padding: 0 30px;

            &:not(:last-child) {
              a {
                font-size: 14px;
                color: #444;
              }
            }

            .contactBtn {
              width: 120px;
              height: 35px;
            }
          }
        }
      }
    }
  }
}
